<h1>Announcements</h1>
<div class="row justify-between">
  <div>
    <button mat-stroked-button (click)="onExpandClicked()">Expand All</button>
    <button mat-stroked-button (click)="onCollapseClicked()">Collapse All</button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Items per page</mat-label>
    <mat-select [(value)]="itemsPerPage">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="15">15</mat-option>
      <mat-option [value]="25">25</mat-option>
      <mat-option [value]="50">50</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-accordion multi>
  <mat-expansion-panel *ngFor="let item of announcements | paginate: {
    itemsPerPage: itemsPerPage,
    currentPage: currentPage }; let i = index" [expanded]="isExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{i+1}}) {{item.createdBy}} @ {{item.createdDate | date:'short'}}
      </mat-panel-title>
      <mat-panel-description>{{item.title}}</mat-panel-description>
    </mat-expansion-panel-header>
    <h1>{{item.title}}</h1>
    <div markdown ngPreserveWhitespaces>{{item.markdown}}</div>
  </mat-expansion-panel>
</mat-accordion>
<div class="row justify-center">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
