<div class="example-action-buttons">
  <button mat-button (click)="accordion!.openAll()">Expand All</button>
  <button mat-button (click)="accordion!.closeAll()">Collapse All</button>
</div>
<mat-accordion multi>
  <mat-expansion-panel *ngFor="let item of announcements | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.createdBy}} @ {{item.createdDate | date:'short'}}
      </mat-panel-title>
      <mat-panel-description>Announcement #{{item.id}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div markdown ngPreserveWhitespaces>{{item.markdown}}</div>
  </mat-expansion-panel>
</mat-accordion>

<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
